# The Lists
---
* The lists can be used to store values.

In [10]:
print("---Sum all elemnets of the list---")
l = [1,5,8,3,6]
print(f"The sum of the list is: {sum(l)}")

---Sum all elemnets of the list---
The sum of the list is: 23

In [18]:
print("---The multiplication all elemnets of the list---")
lista=[5,4,3,2,1]
for i in l:
    m *= i
print(f'The multiplication is {m}')

---The multiplication all elemnets of the list---
The multiplication is 518400

In [21]:
print("---Function multiplication---")

def mult_list(l):
    m=1
    for i in l:
        m*=i
    return m
mult_list(l)

---Function multiplication---

720

In [1]:
print("---The highest number on the list---")
list_=[497, 186, 66, 198, 204, 339, 738, 743, 
       -80, 36, 887, 645, 312, 760, 574, 439, 
       164, 873, 125, 871, 901, 561, 5, -65, 
       -66, -51, 522, 306, -79, 577, 268, 240, 
       183, 217, 729, 202, 483, 464, 281, 6, 
       -44, 110, 670, 749, 846, 903, 15, 265, 
       596, -3, 534, -42, 528, 582, 552, 254, 
       780, 326, 816, -7, 859, 234, 898, 355, 
       706, 576, 968, 349, 649, 522, 466, 353, 
       940, 41, 141, 946, 317, 346, 256, 326, 
       546, 473, 270, 22, 102, 504, 421, 87, 
       570, 143, 519, 292, 382, 744, 525, 658, 
       725, 477, 413]
print(f"The highest number on the list is: {max(list_)}")

max_ = list_[0]
for i in list_:
    if i>max_:
        max_=i
print(max_)

---The highest number on the list---
The highest number on the list is: 968
968

In [27]:
print("---The lowest number on the list---")
print(f"The highest number on the list is: {min(list_)}")
max_ = list_[0]
for i in list_:
    if i<max_:
        max_=i
print(max_)

---The lowest number on the list---
The highest number on the list is: -80
-80

In [13]:
list_2=['a','a','z','f',
        'h','i','m','u',
        'q','r','b','d']
print('---Order list---')
list_.sort()
print(list_)
print('Reverse####')
list_.sort(reverse=True)
print(list_)
list_2.sort()
print(list_2)
print('Reverse####')
list_2.sort(reverse=True)
print(list_2)

---Order list---
[-80, -79, -66, -65, -51, -44, -42, -7, -3, 5, 6, 15, 22, 36, 41, 66, 87, 102, 110, 125, 141, 143, 164, 183, 186, 198, 202, 204, 217, 234, 240, 254, 256, 265, 268, 270, 281, 292, 306, 312, 317, 326, 326, 339, 346, 349, 353, 355, 382, 413, 421, 439, 464, 466, 473, 477, 483, 497, 504, 519, 522, 522, 525, 528, 534, 546, 552, 561, 570, 574, 576, 577, 582, 596, 645, 649, 658, 670, 706, 725, 729, 738, 743, 744, 749, 760, 780, 816, 846, 859, 871, 873, 887, 898, 901, 903, 940, 946, 968]
Reverse####
[968, 946, 940, 903, 901, 898, 887, 873, 871, 859, 846, 816, 780, 760, 749, 744, 743, 738, 729, 725, 706, 670, 658, 649, 645, 596, 582, 577, 576, 574, 570, 561, 552, 546, 534, 528, 525, 522, 522, 519, 504, 497, 483, 477, 473, 466, 464, 439, 421, 413, 382, 355, 353, 349, 346, 339, 326, 326, 317, 312, 306, 292, 281, 270, 268, 265, 256, 254, 240, 234, 217, 204, 202, 198, 186, 183, 164, 143, 141, 125, 110, 102, 87, 66, 41, 36, 22, 15, 6, 5, -3, -7, -42, -44, -51, -65, -66, -79, -80]
['a', 'a', 'b', 'd', 'f', 'h', 'i', 'm', 'q', 'r', 'u', 'z']
Reverse####
['z', 'u', 'r', 'q', 'm', 'i', 'h', 'f', 'd', 'b', 'a', 'a']

In [13]:
print("sort a list")
list_=[('a',21,10),('q',44,99),
       ('z',321,11),('w',91,33),
       ('f',33,-9),('h',88,42),
       ('j',-100,1),('n',74,93),
       ('k',11,7),('m',923,-10),
       ('l',2,23),('v',612,57),
       ('j',130,51),('x',40,88),
       ('b',99,67),('u',30,49),
       ('e',-120,-4),('i',40,21),
      ]
list_ = sorted(list_,key=lambda element:element[0])
print(list_)

sort a list
[('a', 21, 10), ('b', 99, 67), ('e', -120, -4), ('f', 33, -9), ('h', 88, 42), ('i', 40, 21), ('j', -100, 1), ('j', 130, 51), ('k', 11, 7), ('l', 2, 23), ('m', 923, -10), ('n', 74, 93), ('q', 44, 99), ('u', 30, 49), ('v', 612, 57), ('w', 91, 33), ('x', 40, 88), ('z', 321, 11)]

In [12]:
from statistics import *
l=[-1505, 2518, 2333, 4682, -1740, 1067, 995,22,
       -1153, -4098, 4560, 2958, 3640, -4154, 2345,4, 
       -1601, 158, -4044, -98, 707, 359, -3088, 527, 
       -3004, -4045, 563, -4137, 4598, -3862, 488, -1, 
       3445, 3820, 504, -1475, 1626, -1252, 2059, 16, 
       -1472, 2610, -4643, 2912, -2517, -4604, -1476, 
       3950, -4640, -229, 229, -3452, 4309, 2356, 66, 
       3728, -1846, -635, -3581, 4457, -2592, -1066, 
       -1006, -164, 805, -4500, -455, 2245, -4959, 
       -2415, 2038, 4512, 1243, 349, -1153, 3623, 631, 
       2209, -3349, -2417, 4429, -1324, -4101, -1354, 
       4400, -4968, -4433, 2042, 904, 932, 1331, 4955, 
       -3775, -333, 1012, 2192, -161, -224, 1505, -1615, 
       -2165, 3666, -4253, -358, -3939, -2641, 1228, 
       -608, -2280, 4939, -3355, 1340, -57, 3346, 2686, 
       -1572, 1991, -2351, -3972, -1683, -1509, -2488, 
       266, -2991, -795, -4032, 2397, 2391, 3654, -1044, 
       -2204, -2440, -1280, 2714, -4151, -1951, 3684, 
       -4251, 3748, -4359, -1436, -2190, 4538, -3563, 
       1542, 1926, -3940, -2274, -4223, 2504, -4112, 2388,
]
print('Statistical Parameters')
print(f'Largest number: {max(l)}')
print(f'Fewest number: {min(l)}')
print(f'Sum of numbers: {sum(l)}')
print(f'Number of numbers: {len(l)}')
print(f'Average of numbers: {mean(l):.2f}')
print(f'Mode of numbers: {mode(l)}')
print(f'Median of numbers: {median(l)}')
print(f'Variance of numbers: {variance(l):.2f}')
print(f'Standart deviation of numbers: {stdev(l):.2f}')

Statistical Parameters
Largest number: 4955
Fewest number: -4968
Sum of numbers: -38267
Number of numbers: 152
Average of numbers: -251.76
Mode of numbers: -1153
Median of numbers: -194.0
Variance of numbers: 7779333.80
Standart deviation of numbers: 2789.15

In [75]:
print("===Removing duplicate from the list===")
l = [
    'a','a','a',
    'b','c','k',
    'a',1,2,3,4,
    'j','l','m',
]
l_=[]
for i in l:
    if i not in l_:
        l_.append(i)
print(l_)
# or
list_ = list(set(l))
print(list_)

===Removing duplicate from the list===
['a', 'b', 'c', 'k', 1, 2, 3, 4, 'j', 'l', 'm']
[1, 'c', 2, 'k', 3, 4, 'j', 'a', 'm', 'l', 'b']

In [5]:
print("List creation with range function")
l = list(range(1950, 2021))
print(l)

List creation with range function
[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [12]:
print("Handling list")
years=[1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 
            1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 
            1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 
            1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 
            1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939,
            1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 
            1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 
            1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 
            1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 
            1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 
            1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 
            1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 
            1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 
            2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
            2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
            2020]
print("First twenty years")
years_20 = years[0:20]
print(len(years_20))
print(' ')
print("Years between 1937 end 1969")
years_split = years[37:70]
print(years_split)
print(' ')
print("Years between 2020 end 2020")
years_split_ = years[-11:]
print(years_split_)
print(' ')
print("Last year of the series")
years_split_last = years[-1]
print(years_split_last)
print(' ')
print("Time series from 10 to 10")
years_time = years[::10]
print(years_time)

Handling list
First twenty years
20

Years between 1937 end 1969
[1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969]

Years between 2020 end 2020
[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

Last year of the series
2020

Time series from 10 to 10
[1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020]